<header>
  <input type="checkbox" name="" id="chk1" />
  <div class="logo">
    <h1>Paws<span>Happy</span></h1>
  </div>
  <div class="search-box">
    <form>
      <input type="text" name="search" id="srch" placeholder="Search" />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <ul>
    <li><a href="/home">Inicio</a></li>
    <li><a href="/pets">Adopta</a></li>
    <li><a href="#">Contáctanos</a></li>
    <li><a href="#">Mi Perfil</a></li>
    <li>
      <a href="https://www.facebook.com/pawshappy" target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://github.com/pawshappy" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://www.linkedin.com/company/pawshappy" target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="https://www.instagram.com/pawshappy" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
    </li>
  </ul>
  <div class="menu">
    <label for="chk1">
      <i class="fa fa-bars"></i>
    </label>
  </div>
</header>
