* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  height: 500px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  position: relative;
}

img {
  height: 500px;
  width: 350px;
  border-radius: 3px;
  transition: transform 0.5s ease;
}

.intro {
  height: 70px;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgba(27, 27, 27, 0.5); /* Corrección del valor de transparencia */
  color: white;
  transition: all 0.5s ease;
}

h1 {
  margin: 10px;
  font-size: 40px;
}

p {
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

span {
  font-weight: bold;
}

.card:hover {
  cursor: pointer;
}

.card:hover .intro {
  height: 220px;
  bottom: 0;
  background: black;
}

.card:hover p {
  opacity: 1;
  visibility: visible;
}

.card:hover img {
  transform: scale(1.1);
}
