<div class="container">
  <div class="card">
    <img
      src="https://png.pngtree.com/thumb_back/fh260/background/20230516/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-image_2571308.jpg"
      alt="Background image of wolves"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://img.freepik.com/foto-gratis/hoja-otono-cayendo-revelando-intrincada-vena-hoja-generada-ia_188544-9869.jpg"
      alt="img"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2024/04/26/18/07/summer-8722382_640.jpg"
      alt="img2"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://png.pngtree.com/thumb_back/fh260/background/20230516/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-image_2571308.jpg"
      alt="img"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://img.freepik.com/foto-gratis/hoja-otono-cayendo-revelando-intrincada-vena-hoja-generada-ia_188544-9869.jpg"
      alt="img"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2024/04/26/18/07/summer-8722382_640.jpg"
      alt="img2"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://png.pngtree.com/thumb_back/fh260/background/20230516/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-image_2571308.jpg"
      alt="img"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://img.freepik.com/foto-gratis/hoja-otono-cayendo-revelando-intrincada-vena-hoja-generada-ia_188544-9869.jpg"
      alt="img"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
        <p>{{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2024/04/26/18/07/summer-8722382_640.jpg"
      alt="img2"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://png.pngtree.com/thumb_back/fh260/background/20230516/pngtree-wolfs-full-hd-wallpaper-art-wallpaper-1920x1080-1080p-image_2571308.jpg"
      alt="img"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://img.freepik.com/foto-gratis/hoja-otono-cayendo-revelando-intrincada-vena-hoja-generada-ia_188544-9869.jpg"
      alt="img"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2024/04/26/18/07/summer-8722382_640.jpg"
      alt="img2"
    />
    <div class="intro">
      <a
        routerLink="['/detail', pet()?.id]"
        routerLinkActive="router-link-active"
        class="card-link"
      >
        <h1>Pet Name {{ pet()?.petName }}</h1>
        <p>Description: {{ pet()?.description }}</p>
      </a>
    </div>
  </div>
</div>
